#result{
  font-weight: 700;
  margin: auto;
  width:fit-content;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  background-color: antiquewhite;
  border-radius: 15px;
}
.hidden{
  display: none;
}
p{
  text-align: center;
}
.center{
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}
#inside-details{
  background-color: grey;
  color: white;
}
.label{
  font-weight: bold;
}
.font-weight-light{
  font-weight: lighter;
}
font-weight-normal{
  font-weight: normal;
}